/* navbar */

.navbar a {
  text-decoration: none;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 42px;
  display: flex;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: #ffffff99;
  position: absolute;
  z-index: 1;
}

.navbarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: quicksand;
  font-weight: 500;
  color: #000;
  align-items: center;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
  
.navbar span p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: inline;
}

.navbar span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

/* .navbar span:hover {
  font-weight: 700;
} */

.navigation ul li {
  height: 42px;
  display: flex;
  align-items: center;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  padding: 10px 17px;
}

.button {
  border: none;
  background: none;
  padding: 14px 20px;
  display: flex;
}

.navmenubtn {
  color: white;
  padding: 0;
  font-size: 16px;
  background: #f0f8ff00;
  border: none;
  outline: none !important
}

.path {
  fill: #333f;
  stroke:#3330; 
  stroke-width: 0;
  transition: .2s;
}

.svgMenu {
  display: flex;
}

.navmenu {
  display: flex;
}

.navmenuContent {
  display: none;
  top: 38px;
  right: 0;
  list-style: none;
  padding: 12px 10px;
  margin: 0 20px 0 0;
  overflow-y: hidden;
  transition: .5s;
  border-radius: 10px;
  background: #fbfbfb;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

.navmenuContent a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  transition: .2s;
  width: max-content;
}




/* headerHome */

.fondo {
  position: absolute;
  height: 347px;
  width: 100vw;
  overflow: hidden;
}

.fonText {
  margin-bottom: 106px;
  text-align: center;
  padding-top: 109px;
}

.span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.g {
  transform: matrix(1,0,0,1,-40,0);
}
  
.fondoPost {
  background-image: url("/postCover1.png");
  background-position: center;
  background-size: cover;
  height: 70vw;
}

.hola {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  line-height: 45px;
  color: black;
}

.general {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  line-height: 45px;
  color: black;
}

.gracias {
  width: 258px;
  margin: 0 auto;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  background: #ffffff66;
  padding: 7.5px 10px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
}



/* mainHome */

.main {
  padding: 0 16px;
}

.articleListContainer {
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 232px;
}

.descripcion {
  font-size: 11px;
  margin: 0;
  padding-left: 10px;
  line-height: 13.75px;
  color: black;
}

.subtitulo {
  margin: 0;
  padding-left: 6px;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.imgcover {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.imgcover {
  cursor: pointer;
  border: .5px solid rgba(68, 68, 68, 0);
  border-radius: 16px;
}

.parrafo a {
color: #444;
cursor: pointer;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;
}

.titulo {
  background: #ffffff66;
  border-radius: 20px;
  margin: 0 auto;
  padding: 5.5px 16px;
  width: 212px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.contraseña {
  display: flex;
  margin-bottom: 16px;
}

.contentImg {
  position: relative;
  height: 112px;
  min-width: 128px;
}

.parrafo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.passwords {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
}



/* headerBlog */



/* mainBlog */

.headerElBlog {
  position: relative;
  height: 360px;
}

.imgHero {
  object-fit: cover;
}

.mainElBlog {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 353px;
}

.mainH1 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: black;
  margin: 42px 0 24px;
}

.mainP {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  padding-left: 5px;
}

.mainH2 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: black;
  margin-bottom: 20px;
}

.mainPol {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
  font-family: 'Red Hat Mono';
}

.mainol li::marker {
  font-weight: 600;
}

.mainol li p {
  text-indent: 60px;
  margin-left: -55px;
}

.mainPol ol {
  margin-left: 15px;
}



/* footer */

.footer {
  background: linear-gradient(289.23deg, #fbb804, #f10bf4 50.52%, #07d7f8 100%);

}
  
.footerParrafo {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  width: 256px;
  margin: 0 auto;
  padding-top: 40px;
}

.redesSociales {
  display: flex;
  justify-content: center;
  padding: 22px 0 28px;
}

.redesSociales a {
  padding: 0 5px;
  cursor: pointer;
}
  


/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
  
@media (min-width: 576px) {




.navbarContent {
  padding: 0 36px;
}

.navmenuContent {
  height: max-content;
  margin: 0 9px 0 0;
  background: none;
  position: static;
  box-shadow: none;
  display: flex;
  padding: 6px 0;
  margin: 0 45px 0 0;
  display: none;
}

.navmenu:hover .navmenuContent {
  display: flex;
}

.navmenunContent a {
  padding: 6px 0 6px 22px;
}



/* headerHome */

.fondo {
  height: 434px;
}

.hola {
  font-size: 72px;
  line-height: 90px;
}

.general {
  font-size: 48px;
  line-height: 60px;
}

.titulo {
  width: 270px;
  padding: 3.5px 16px;
}

.gracias {
  font-size: 24px;
  line-height: 30px;
  padding: 8px 16px;
  width: 390px;
}

.g {
  transform: matrix(1.5,0,0,.9,-140,0);
}

.fonText {
  margin-bottom: 103px;
  padding-top: 133px;
}



/* mainHome */

.main {
  margin: 0 auto;
  margin-bottom: 232px;
  max-width: 888px;
}

.articleListContainer {
  padding: 0 44px;
}

.lista {
  flex-direction: row;
}

.contraseña {
  flex-direction: column;
  width: 31.5%;
}

.contentImg {
  position: relative;
  height: 157px;
  margin-bottom: 12px;
}

.descripcion {
  font-size: 11px;
  margin: 0;
  padding-left: 10px;
  line-height: 13.75px;
  color: black;
}

.subtitulo {
  margin: 0;
  padding-left: 6px;
  font-size: 24px;
  line-height: 30px;
}

/* .subtitulo:hover {
  color: #000;
} */

.imgcover {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.imgcover {
  cursor: pointer;
  border: .5px solid rgba(68, 68, 68, 0);
  border-radius: 16px;
}

.parrafo a {
color: #444;
cursor: pointer;
margin-bottom: 12px;
}



/* headerBlog */

.imgHero {
  margin-bottom: 106px;
  text-align: center;
  padding-top: 109px;
}



/* mainBlog */

.headerElBlog {
  height: 584px;

}

.mainElBlog {
  margin-right: 117px;
  margin-left: 117px;
}



/* footer */

.footerParrafo {
  width: 459px;
  margin: 0 auto;
  padding-top: 26px;
}

  

}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */

@media (min-width: 1200px) {



/* navbar */

.navmenuContent {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.titulo {
  margin: 0 auto;
}

.hola {
  font-size: 72px;
  line-height: 90px;
}

.general {
  font-size: 48px;
  line-height: 60px;
}

.gracias {
  font-size: 24px;
  line-height: 30px;
}

.g {
  transform: matrix(1.5,0,0,.9,-140,25);
}



/* headerHome */

.fondo {
  height: 506px;
}

.fonText {
  margin-bottom: 180px;
}



/* mainHome */

.articleListContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.descripcion {
  font-size: 12px;
  line-height: 15px;
}




/* headerBlog */




/* mainBlog */



/* footer */
  

}




